@{
    ViewBag.Title = "Home Page";
}

<br>

<nav class="navbar navbar-default" style="width:600px">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">@Resources.Resource.SearchForFlight</a></li>
    </ul>
    <div class="container-fluid">
        @*<form class="navbar-form navbar-left" role="search" action="">*@
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <div class="container">
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-plane"></span></span>
                            <input type="text" class="form-control" placeholder="Departure" name="departure" id="departureInput">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active" id="roundTripLabel">
                                <input type="radio" name="IsRoundTrip" autocomplete="off" checked/>RoundTrip
                            </label>
                            <label class="btn btn-default" id="oneWayLabel">
                                <input type="radio" autocomplete="off">OneWay
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-plane"></span></span>
                            <input type="text" class="form-control" placeholder="Arrival" name="arrival" id="arrivalInput">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <input id="passengerChooseBtn" class="btn btn-default" value="2 adults, Economy">
                    </div>
                </div>
                <br>
                <div class="row">
                    @* Departure date *@
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input class="date-picker form-control" placeholder="Departure date dd-mm-yy" name="departureDate" id="departureDateInput"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @* Arrival date *@
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input class="date-picker form-control" placeholder="Arrival date dd-mm-yy" name="arrivalDate" id="arrivalDateInput"/>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" id="nonStopCheck" name="IsNonStopPreferred">
                            </span>
                            <input type="text" class="form-control" value="Prefer non-stop flights" disabled="disabled">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        }
    </div>
</nav>

    @section Scripts{

        <script type="text/javascript">

            $(function() {
                $('.date-picker').datepicker({ dateFormat: 'yy-mm-dd' });
            });

            function getRequestInfo() {

                var request = {
                    departure: $('#departureInput').val(),
                    arrival: $('#arrivalInput').val(),
                    departureDate: $('#departureDateInput').val(),
                    arrivalDate: $('#arrivalDateInput').val(),
                    isRoundTrip: $('#roundTripLabel :input').is(':checked'),
                    isNonStopPreferred: $('#nonStopCheck').is(':checked')
                };
                console.log('Departure:' + request.departure);
                console.log('Arrival:' + request.arrival);
                console.log('departureDate:' + request.departureDate);
                console.log('arrivalDate:' + request.arrivalDate);
                console.log('roundTrip:' + request.isRoundTrip);
                console.log('nonStop:' + request.isNonStopPreferred);
                return request;
            };

            function enableArrivalDateInput() {
                $('#arrivalDateInput').prop('disabled', false);
                console.log('arrivalDateInput enabled');
            };

            function disableArrivalDateInput() {
                $('#arrivalDateInput').prop('disabled', true);
                console.log('arrivalDateInput disabled');
            };

            $(document).ready(function() {

                $('#oneWayRadio').removeClass("active");
                $('#roundTripLabel').click(enableArrivalDateInput);
                $('#oneWayLabel').click(disableArrivalDateInput);
            });

        </script>
    }

